APP_ENV=dev
APP_NAME=contacts
APP_HOST=0.0.0.0
APP_PORT=9000

POSTGRES_USERNAME =  postgres
POSTGRES_PASSWORD =
POSTGRES_HOST =  localhost
POSTGRES_PORT = 5432
POSTGRES_DATABASE =

TOKEN_SECRET_KEY =
TOKEN_ALGORITHM = HS256

MAIL_USERNAME =
MAIL_PASSWORD =
MAIL_FROM =
MAIL_PORT = 465
MAIL_SERVER =
MAIL_FROM_NAME =

SENDGRID_API_KEY =
FROM_EMAIL =
TO_EMAIL =
TWILIO_PHONE_NUMBER =

REDIS_HOST = 
REDIS_PORT = 6379

CLOUDINARY_NAME =
CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET =

RATE_LIMITER_TIMES = 2
RATE_LIMITER_SECONDS = 5

